<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860914512638-0uv4dr3glnc38mvvhdu17l4hep28nm6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860914512638-0uv4dr3glnc38mvvhdu17l4hep28nm6o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860914512638-s2c9c2f5e65l3t8bk1oos9je7o9cc5mt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJJalPB6mb_fQCkN0VR9P93WuQhWz9bng</string>
	<key>GCM_SENDER_ID</key>
	<string>860914512638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mm</string>
	<key>PROJECT_ID</key>
	<string>mirror-me-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mirror-me-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860914512638:ios:f842e3b5bc7ba13088abaf</string>
</dict>
</plist>